<!doctype html>
<html lang="fr">
<body>
    Bonjour,<br>
    Vous trouvez ci joint un rapport automatique généré via votre application <strong>{{ app_name }}</strong>.<br><br>
    <strong>Cordialement</strong><br>
    <i>Equipe de SBC</i>
</body>
</html>