<!doctype html>
<html lang="fr">
<body>
    Bonjour,<br><br>
    Vous trouvez ci-joint le rapport de suivi de l'avancement de saisie sur l'application <strong>{{ app_name }}</strong> pour la journée du {{ 'now'|date('d/m/Y') }}.
    <br><br>
    <strong>Cordialement</strong><br>
    <i>Equipe de SBC</i>
</body>
</html>